.benzfooter{
    color: white;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    padding: 50px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15x;
    
   
}
.footer1 .footer2 .footer3 .footer4 .footer5{
    padding-left: 100rem;
    font-size: 2em;
    line-break: auto;
    line-height: 50px;
}
.fcol{
    display: flex;
    color: white;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;

    
}
.columns{
    padding-bottom: 50px;
    color: white;
    line-break: 25px;
    line-height: 25px;
    flex: 25%;
    
}
.Header{
    font-size: 30px;
    margin-bottom: 41px;

}
.heading1{
    margin-top: 40px;
}
.staycol{
    padding-bottom: 50px;
    color: white;
    line-break: 25px;
    line-height: 25px;
    flex: 25%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 75px;
    
    
}
.stayheader{
    font-size: 30px;
    margin-bottom: 41px;

}
.stayheading{
    margin-top: 30px;

}
