body{
    background-color:black;
    text-decoration: none;
}
.header{
    display: flex;
    color: white;
    background-color:black;
}
.logo{
    height: 7em;
   
}
.IMAGE{
    padding: 20px 20px;
}

.upperbar{
    position: absolute;
    text-align: right;
    left: 70vw;

}
.upperbar li{
    margin-: 7em;
    display: inline;
    left: 35%;
   
}
.i{
    border-style: solid;
    border-width: thin;
    padding: 5px;
}
.lang{
    padding: 25px;


}

.lowerbar {
    position: absolute;
    text-align: right;
    top: 50px;
    left: 35%;
}
.lowerbar li{
  
    display: inline;
    padding: 2em;
    margin-bottom: 10em;
  
}
.Search{
    display: inline;
   max-width: 24px;
}
