* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.brandhub-search__form .form-control {
    margin: 0 auto;
    max-width: 1680px;
    width: 100%;
}

.brandhub-search__box {
    background: #141414;
    padding: 1rem 0;
    padding-top: 1rem;
    padding-right: 0px;
    padding-bottom: 1.855rem;
    padding-left: 0px;
}

.container-outer {
    margin: 0 auto;
    height: 80%;
    width: 100%;
    color: #999;
    font: inherit;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.brandhub-search__form .form-control {
    background-color: #ececec;
    border: 1px solid #ececec;
    color: #333;
    display: inline-block;
    font-family: Corporate A BQ, Daimler CS;
    font-size: 1.285rem;
    height: 2.855rem;
    line-height: 1.715rem;
    padding: 0.355rem 1rem 0.215rem 1rem;
    vertical-align: baseline;
    width: calc(100% - 4.425rem);
}

.brandhub-search__form .btn-default {
    --icon-color: #333;
    background: #ececec;
    border: 1px solid #ececec;
    color: #333;
    font-size: 1.285rem;
    height: 2.855rem;
    line-height: 2.855rem;
    margin-left: -1px;
    padding: 1px 1.43rem 1px 1.43rem;
    width: 4.285rem;
}

 :after,
 :before {
    box-sizing: border-box;
}

.brandhub-icon {
    display: inline-flex;
}




